<div class="borrow-history-container">
    <h2 class="text-center borrow-title">📖 Borrow History of {{ user.name }}</h2>
  
    <table class="table borrow-table">
      <thead class="table-header">
        <tr>
          <th>Book ID</th>
          <th>Issue Date</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let borrower of borrow">
          <td>{{ borrower.bookId }}</td>
          <td>{{ borrower.issueDate | date: 'mediumDate' }}</td>
          <td>
            <span *ngIf="borrower.returnDate; else notReturned">
              {{ borrower.returnDate | date: 'mediumDate' }}
            </span>
            <ng-template #notReturned>
              <span class="not-returned">📌 Not returned yet</span>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  