<div class="admin-requested-books">
    <h2>Requested Books</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Book Name</th>
          <th>Requested By</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requestedBooks">
          <td>{{ request.bookName }}</td>
          <td>{{ request.requestedBy?.username }}</td>  <!-- Show username instead of userId -->
  <!-- Change to username if needed -->
          <td>
            <i class="fas fa-trash text-danger icon-btn" (click)="deleteRequest(request.id!)" ></i>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  