<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">Welcome Back</h2>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="alert alert-danger error-message">
      {{ errorMessage }}
    </div>

    <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="input-group">
        <label>Email</label>
        <input
          type="text"
          name="username"
          ngModel
          class="form-control"
          placeholder="Enter your email"
        />
        <small class="hint-text">Email provided by the library admin.</small>
      </div>

      <div class="input-group">
        <label>Password</label>
        <input
          type="password"
          name="password"
          ngModel
          class="form-control"
          placeholder="Enter your password"
        />
      </div>

      <button type="submit" class="btn btn-primary login-btn">Login</button>
    </form>
  </div>
</div>
