<div class="return-book-container">
    <h2 class="section-title"> List of Books to be Returned</h2>
  
    <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th> Book ID</th>
            <th>📅 Issue Date</th>
            <th>📆 Return Date</th>
            <th> Due Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of borrow">
            <td>{{ b.bookId }}</td>
            <td> {{ b.issueDate | date: 'yyyy-MM-dd' }} </td>
<td> {{ b.returnDate ? (b.returnDate | date: 'yyyy-MM-dd') : 'Not Returned' }} </td>
<td> {{ b.dueDate | date: 'yyyy-MM-dd' }} </td>
            <td>
              <button *ngIf="b.returnRequestStatus === 'NONE'" 
            (click)="requestReturn(b.borrowId,b.bookId)" 
            class="btn btn-warning">
      Request Return
    </button>
    <span *ngIf="b.returnRequestStatus === 'PENDING'" class="text-muted">
      Request Submitted: Pending Approval
    </span>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  