<h2>Book List</h2>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th> Book ID </th>
            <th> Name </th>
            <th> Author </th>
            <th> Genre </th>
            <th> Number of copies available </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td> {{ book.bookId }} </td>
            <td> {{ book.bookName }} </td>
            <td> {{ book.bookAuthor }} </td>
            <td> {{ book.bookGenre }} </td>
            <td> {{ book.noOfCopies }} </td>
            <td>
                <i class="fas fa-eye text-success icon-btn" 
   (click)="bookDetails(book.bookId)">
</i>

<i class="fas fa-pencil-alt text-info icon-btn" 
   (click)="updateBook(book.bookId)" 
   style="margin-left: 10px">
</i>

<i class="fas fa-trash text-danger icon-btn" 
   (click)="deleteBook(book.bookId)" 
   style="margin-left: 10px">
</i>
                   
            </td>
        </tr>
    </tbody>
</table>