.rating-popup {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 280px;
  }
  
  .popup-title {
    font-size: 18px;
    font-weight: bold;
    color: #ff9800;
    margin-bottom: 15px;
  }
  
  .star-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
  }
  
  mat-icon {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.2s;
    color: #ccc;
  }
  
  mat-icon.selected {
    color: gold;
    transform: scale(1.2);
  }
  
  mat-icon.hovered {
    color: rgb(228, 163, 25);
  }
  
  .popup-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-btn {
    background: #ccc;
    color: black;
  }
  
  button.submit-btn {
    color: white !important;  /* Text color */
    background-color: green !important;  /* Button background */
    font-weight: bold;
  }
  