<div class="rating-popup">
  <h2 class="popup-title">⭐ Rate this Book ⭐</h2>
  <div class="star-container">
    <mat-icon *ngFor="let star of stars; let i = index"
    (click)="selectRating(star)" 
    (mouseenter)="hoverRating(star)" 
    (mouseleave)="leaveRating()"
    [ngClass]="{'selected': star <= rating, 'hovered': star <= hoverStar}"
    >★
</mat-icon>
  </div>
  <div class="popup-actions">
    <button mat-button (click)="skip()" class="cancel-btn">Skip</button>
    <button mat-button color="primary" (click)="submitRating()" class="submit-btn">Submit</button>
  </div>
</div>
